<p id="notice"><%= notice %></p>

<p>
  <strong>theme name:</strong>
  <%= @theme.theme_name %>
</p>

<p>
  <strong>theme number:</strong>
  <%= @theme.theme_number %>
</p>

<%= link_to 'Edit', edit_theme_path(@theme) %> |
<%= link_to 'Back', themes_path %>
