<p id="notice"><%= notice %></p>

<p>
  <strong>author name:</strong>
  <%= @author.author_name %>
</p>

<p>
  <strong>author number:</strong>
  <%= @author.author_number %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
