<p id="notice"><%= notice %></p>

<p>
  <strong>parent name:</strong>
  <%= @parent.parent_name %>
</p>

<p>
  <strong>parent number:</strong>
  <%= @parent.parent_number %>
</p>

<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>

<%# showcasing nested/nesting elements in view %>
<%# (model/parent controller/parent_controller 2x, views/parents/_form, views/parent/show) %>
<%# listing nested data %>
<% @parent.blogs.each do |blog| %>
  <p><%= blog.blog_name %></p>
  <p><%= blog.blog_number %></p>
<% end %>