<p id="notice"><%= notice %></p>

<p>
  <strong>child name:</strong>
  <%= @child.child_name %>
</p>

<p>
  <strong>child number:</strong>
  <%= @child.child_number %>
</p>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
